nav  {
  border: 2px solid orangered; 
  
  ul {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    width: 100%;
    justify-content: center;  
    
     li {

       margin-right: 20px;
       list-style: none;
       font-size: 18px;
       a {
         text-decoration: none;
       }
     }
  }
}