// Variables
$white: #fff;
$black: #222;


$orange: #ec4316;
$hotlink: #f442d9;
$purple: #e896ff;
$jungle: #004653;

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

// Font Variables
$primary-font: 'Inconsolata', monospace;
